*.pyc
doc/html
.vscode
simulator/platform/win32/eez_psu_sim.VC.db
*.opendb
*.eez-studio-cache
psu.eez-project-ui-state
.pioenvs
.piolibdeps
.vscode/c_cpp_properties.json
.travis.yml
lib/readme.txt
.clang_complete
.gcc-flags.json
build/eez_psu_32F429IDISCOVERY_true_studio_project/Debug
build/eez_psu_32F429IDISCOVERY_true_studio_project/Release